<div class="examples-holder">
    <h3 class="title">
        You can try example rss:
    </h3>
    <div class="items-wrapper">

    </div>
    <div class="item text-info" *ngFor="let exampleLink of exampleLinks" (click)="putTestRssLink(exampleLink)">
        {{exampleLink}}
    </div>
</div>
<div class="rss-search-wrapper">
    <form [formGroup]="rssForm" novalidate>
        <!--<label for="rssUrl">Rss url</label>-->
        <input class="form-control" type="text" placeholder="Put url here" name="rssUrl" id="rssUrl" formControlName="rssUrl" required>
        <div *ngIf="formErrors.rssUrl" class="alert alert-danger">
            {{ formErrors.rssUrl }}
        </div>
        <button class="btn btn-primary" (click)="getRss()">Get rss</button>
    </form>
</div>